<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Types</key>
	<dict>
		<key>Twitter</key>
		<array>
			<string>usernameType</string>
			<string>searchType</string>
			<string>postType</string>
			<string>listType</string>
			<string>userType</string>
			<string>mentionType</string>
			<string>messageType</string>
			<string>timelineType</string>
			<string>identifierType</string>
			<string>unknownType</string>
			<string>messageType</string>
			<string>replyType</string>
			<string>queryType</string>
			<string>statusType</string>
		</array>
		<key>Facebook</key>
		<array>
			<string>profileType</string>
			<string>friendType</string>
			<string>notificationType</string>
			<string>feedType</string>
			<string>eventType</string>
			<string>noteType</string>
			<string>albumType</string>
		</array>
	</dict>
	<key>Provider Items</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Twitter</string>
			<key>Category</key>
			<string>Twitter</string>
			<key>URL Scheme</key>
			<string>twitter://</string>
			<key>Uses Initial Parameters</key>
			<true/>
			<key>Parameters</key>
			<dict>
				<key>user</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>userType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>screen_name</string>
							<key>parameterType</key>
							<string>usernameType</string>
						</dict>
						<dict>
							<key>typeId</key>
							<string>id</string>
							<key>parameterType</key>
							<string>identifierType</string>
						</dict>
					</array>
				</dict>
				<key>status</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>statusType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>id</string>
							<key>parameterType</key>
							<string>identifierType</string>
						</dict>
					</array>
				</dict>
				<key>timeline</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>timelineType</string>
				</dict>
				<key>mentions</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>mentionType</string>
				</dict>
				<key>messages</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>messageType</string>
				</dict>
				<key>list</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>listType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>slug</string>
							<key>parameterType</key>
							<string>unknownType</string>
						</dict>
						<dict>
							<key>typeId</key>
							<string>screen_name</string>
							<key>parameterType</key>
							<string>usernameType</string>
						</dict>
					</array>
				</dict>
				<key>post</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>postType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>in_reply_to_status_id</string>
							<key>parameterType</key>
							<string>replyType</string>
						</dict>
						<dict>
							<key>typeId</key>
							<string>message</string>
							<key>parameterType</key>
							<string>messageType</string>
						</dict>
					</array>
				</dict>
				<key>search</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>searchType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>query</string>
							<key>parameterType</key>
							<string>queryType</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>GenericTwitter</string>
			<key>Category</key>
			<string>Twitter</string>
			<key>URL Scheme</key>
			<string>generictwitter://</string>
			<key>Uses Initial Parameters</key>
			<true/>
			<key>Parameters</key>
			<dict>
				<key>user</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>userType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>name_user</string>
							<key>parameterType</key>
							<string>usernameType</string>
						</dict>
						<dict>
							<key>typeId</key>
							<string>identity</string>
							<key>parameterType</key>
							<string>identifierType</string>
						</dict>
					</array>
				</dict>
				<key>status</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>statusType</string>
					<key>Sub-Parameters</key>
					<array>
						<dict>
							<key>typeId</key>
							<string>id</string>
							<key>parameterType</key>
							<string>identifierType</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Facebook</string>
			<key>Category</key>
			<string>Facebook</string>
			<key>URL Scheme</key>
			<string>fb://</string>
			<key>Uses Initial Parameters</key>
			<false/>
			<key>Parameters</key>
			<dict>
				<key>profile</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>profileType</string>
				</dict>
				<key>friends</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>friendType</string>
				</dict>
				<key>notifications</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>notificationType</string>
				</dict>
				<key>feed</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>feedType</string>
				</dict>
				<key>events</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>eventType</string>
				</dict>
				<key>notes</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>noteType</string>
				</dict>
				<key>albums</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>albumType</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>GenericFacebook</string>
			<key>Category</key>
			<string>Facebook</string>
			<key>URL Scheme</key>
			<string>facebook://</string>
			<key>Uses Initial Parameters</key>
			<false/>
			<key>Parameters</key>
			<dict>
				<key>user</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>profileType</string>
				</dict>
				<key>friends</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>friendType</string>
				</dict>
				<key>notifications</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>notificationType</string>
				</dict>
				<key>feed</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>feedType</string>
				</dict>
				<key>events</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>eventType</string>
				</dict>
				<key>notes</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>noteType</string>
				</dict>
				<key>albums</key>
				<dict>
					<key>topLevelParameterType</key>
					<string>albumType</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
